<div class="acc-Account_Form acc-Account_Form-recover">

  <h2 class="acc-Account_Title acc-Account_Title-form fz-24_29">
    {{- 'customer.login.recover.recover_password' | t -}}
  </h2>

  {%- form 'recover_customer_password', class: 'frm-Form' -%}
    <div class="frm-Form_Row frm-Form_Row-first">

      {%- liquid
        assign success_message = 'customer.login.recover.success_message' | t | strip
        assign error_message = 'customer.login.recover.error_message' | t | strip
      -%}
      {%- render 'form-messages', form: form, success_message: success_message, error_message: error_message -%}

      <label class="frm-Form_Label util-ScreenReaderOnly" for="RecoverEmail">{{ 'customer.login.email_address' | t }}</label>
      <input class="frm-Form_Input" type="email" name="email" id="RecoverEmail" placeholder="{{ 'customer.login.email_address' | t }}" spellcheck="false" autocomplete="off" autocapitalize="off" required />
    </div>

    <div class="frm-Form_Row">
      <p class="frm-Form_Text frm-Form_Text-footer fz-12_17">
        {{ 'customer.login.required_fields' | t }}
      </p>
    </div>

    <div class="frm-Form_Row frm-Form_Row-last">
      <div class="acc-Account_Actions">
        <button class="acc-Account_Button frm-Form_Submit btn-Button-primary btn-Button-border btn-Button" type="submit">
          {{- 'customer.login.recover.recover' | t -}}
        </button>
        
        <div class="frm-Form_Text frm-Form_Text-footer">
          <a class="frm-Form_Link" href="#cancel" data-toggle-content-el="trigger">
            {{- 'customer.login.recover.cancel' | t -}}
          </a>
        </div>        
      </div>
    </div>
    
  {%- endform -%}

</div>