<script>
  (function(algolia) {
    'use strict';

    algolia.instantSearchMainTemplate = function instantSearchMainTemplate( html, data ) {
      return html `<div class="ais-page">
        <div class="ais-input">
          <div class="ais-search-box-container"></div>
          <div class="ais-input-button">
            <div class="ais-clear-input-icon"></div>
          </div>
        </div>
        <div class="ais-redirect-container"></div>
        <div class="ais-stats-container" style="display: none;"></div>

        <div class="src-Toolbar">
          <div class="src-Toolbar_Columns">
            <div class="src-Toolbar_Column src-Toolbar_Column-one">
              <button type="button" class="ais-facets-button src-Toolbar_Trigger src-Toolbar_Trigger-filters fz-14_15">
                {{- 'algolia.filter' | t -}}
                <span class="src-Toolbar_TriggerCount" data-total-results></span>
              </button>
            </div>
            <div class="src-Toolbar_Column src-Toolbar_Column-two">
              <span class="src-Toolbar_Label"><span data-total-results></span> {{ 'algolia.items' | t -}}</span>
            </div>
            <div class="src-Toolbar_Column src-Toolbar_Column-three">
              <div class="src-Toolbar_LayoutWrapper">
                <div class="src-Toolbar_LayoutButtons">
                  <span class="util-ScreenReaderOnly">View as</span>

                  <button type="button" title="Grid view" class="src-Toolbar_Trigger src-Toolbar_Trigger-grid src-Toolbar_Trigger-grid--active" data-view="grid">
                    <span class="src-Toolbar_Icon src-Toolbar_Icon-layout src-Toolbar_Icon-fourcolumns">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 25 11" aria-hidden="true"><circle cx="9" cy="2" r="2" fill="currentColor"></circle><circle cx="2" cy="2" r="2" fill="currentColor"></circle><circle cx="16" cy="2" r="2" fill="currentColor"></circle><circle cx="23" cy="2" r="2" fill="currentColor"></circle><circle cx="9" cy="9" r="2" fill="currentColor"></circle><circle cx="2" cy="9" r="2" fill="currentColor"></circle><circle cx="16" cy="9" r="2" fill="currentColor"></circle><circle cx="23" cy="9" r="2" fill="currentColor"></circle></svg>
                    </span>
                    <span class="src-Toolbar_Icon src-Toolbar_Icon-layout src-Toolbar_Icon-twocolumns">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 11 11" aria-hidden="true"><circle cx="9" cy="2" r="2" fill="currentColor"></circle><circle cx="2" cy="2" r="2" fill="currentColor"></circle><circle cx="9" cy="9" r="2" fill="currentColor"></circle><circle cx="2" cy="9" r="2" fill="currentColor"></circle></svg>
                    </span>
                  </button>

                  <button type="button" title="List view" class="src-Toolbar_Trigger src-Toolbar_Trigger-list" data-view="list">
                    <span class="src-Toolbar_Icon src-Toolbar_Icon-layout src-Toolbar_Icon-threecolumns">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 11" aria-hidden="true"><circle cx="9" cy="2" r="2" fill="currentColor"></circle><circle cx="2" cy="2" r="2" fill="currentColor"></circle><circle cx="16" cy="2" r="2" fill="currentColor"></circle><circle cx="9" cy="9" r="2" fill="currentColor"></circle><circle cx="2" cy="9" r="2" fill="currentColor"></circle><circle cx="16" cy="9" r="2" fill="currentColor"></circle></svg>
                    </span>

                    <span class="src-Toolbar_Icon src-Toolbar_Icon-layout src-Toolbar_Icon-onecolumn">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 4 11" aria-hidden="true"><circle cx="2" cy="2" r="2" fill="currentColor"></circle><circle cx="2" cy="9" r="2" fill="currentColor"></circle></svg>
                    </span>
                  </button>
                </div>
              </div>

              <div class="src-Toolbar_SortWrapper ais-Sort_Wrapper">
                <button class="src-Toolbar_SortButton ais-Sort_Button">
                  <span class="src-Toolbar_SortLabel">{{ 'collections.sorting.title' | t }}</span>
                </button>

                <div class="src-Toolbar_SortDropdown ais-sort">
                  <span class="ais-sort-orders-container"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ais-facets drw-Drawer drw-Drawer-fromLeft">
          <header class="drw-Drawer_Header">
            <div class="drw-Drawer_Content">
              <h4 class="drw-Drawer_Title fz-24_29">{{- 'algolia.filters' | t -}}</h4>
            </div>
            <button
              type="button"
              class="drw-Drawer_Close"
              data-close-filters
            >
              <span class="drw-Drawer_Icon drw-Drawer_Icon-close">
                {%- render 'bao-icon-close' -%}
              </span>
              <span class="util-ScreenReaderOnly">
                {{ 'accessibility.close' | t }}
              </span>
            </button>
          </header>

          <div class="drw-Drawer_Inner">
            <div class="ais-facets">
              <div class="ais-current-refined-values-container"></div>
              ${data.facets.map( facet =>
                html`<div class="ais-facet-dropdown-wrapper ais-facet-${facet.type} ais-facet-${facet.escapedName}">
                  <input class="ais-dropdown-checkbox" type="checkbox" id="${facet.escapedName}" name="dropdown" />
                  <label for="${facet.escapedName}" class="ais-range-slider--header ais-facet--header ais-header">${facet.title}</label>
                  <div class="ais-facet-${facet.escapedName}-container ais-facet-dropdown-container"></div>
                </div>`
              )}
            </div>
          </div>

          <footer class="drw-Drawer_Footer">
            <div class="ais-facetsFooter">
              <div class="ais-clear-refinements-container"></div>

              <button class="btn-Button btn-Button-primary btn-Button-fullWidth" type="button" data-close-filters>
                {{- 'algolia.apply_filters' | t -}}
              </button>
            </div>
          </footer>
        </div>
        <div class="ais-facets_Backdrop" data-close-filters></div>

        <div class="ais-block">
          <div class="ais-hits-container ais-results-as-block"></div>
        </div>
        <div class="ais-pagination-container"></div>
      </div>`
    };
  })(window.algoliaShopify);
</script>
