<script>
   (function(algolia) {
      'use strict';

      algolia.noResultsTemplate = function noResultsTemplate({ html, state }) {
         return html `<div class="aa-PanelLayout aa-Panel--scrollable">
          <div class="aa-PanelSection">
            <p class="aa-NoResultsHeader">
               ${algolia.translation_helpers.no_result_for(state.query)}
            </p>
            <div class="aa-PanelSection--top">
              {%- liquid
                assign usefulPagesMetafield = shop.metafields.algolia.useful_pages
                assign usefulPagesTitle = linklists[usefulPagesMetafield].title
                assign usefulPagesLinks = linklists[usefulPagesMetafield].links
                assign usefulPagesLinkCount = usefulPagesLinks.size
              -%}

              {%- if usefulPagesLinkCount > 0 -%}
                <div class="aa-PanelSection--full">
                  <div class="aa-SourceHeader">
                    <span class="aa-SourceHeaderTitle">{{- usefulPagesTitle }} ({{- usefulPagesLinkCount -}})</span>
                  </div>

                  <section class="aa-Source">
                    <ul class="aa-List">
                      {%- for link in usefulPagesLinks -%}
                        <li class="aa-Item">
                          <a class="aa-ItemLink aa-ItemWrapper" href="{{- link.url -}}">
                            <div class="aa-ItemContent">
                              <div class="aa-ItemContentBody">
                                <div class="aa-ItemContentTitle">{{- link.title -}}</div>
                              </div>
                            </div>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </section>
                </div>
              {%- endif -%}
            </div>
            {%- assign popularCollectionSize = shop.metafields.algolia_collection.title.size -%}
            {%- if popularCollectionSize > 0 -%}
              <div class="aa-PanelSection--bottom">
                <div class="aa-SourceHeader">
                  <span class="aa-SourceHeaderTitle">{{- 'algolia.popular_collections' | t }} ({{- popularCollectionSize -}})</span>
                </div>
                <div class="aa-Collections">
                  {%- for imageObject in shop.metafields.algolia_collection.image -%}
                    <div class="aa-Collection">
                      <a class="aa-CollectionLink" href="{{- shop.metafields.algolia_collection.link[forloop.index0] -}}">
                        <div class="aa-CollectionBody">
                          <div class="aa-CollectionMedia">
                            <div class="aa-CollectionImage">
                              {%- render 'responsive-image-metafield',
                                image: imageObject.first,
                                width: 800,
                                height: 1130
                              -%}
                            </div>
                          </div>

                          <div class="aa-CollectionContent">
                            {%- if shop.metafields.algolia_collection.title[forloop.index0] != blank -%}
                              <p class="aa-CollectionTitle">{{- shop.metafields.algolia_collection.title[forloop.index0] -}}</p>
                            {%- endif -%}

                            {%- if shop.metafields.algolia_collection.strapline[forloop.index0] != blank -%}
                              <p class="aa-CollectionStrapline">{{- shop.metafields.algolia_collection.strapline[forloop.index0] -}}</p>
                            {%- endif -%}

                            <div class="aa-CollectionArrow">
                              {%- render 'bao-icon-chevron-right' -%}
                            </div>
                          </div>
                        </div>

                        <div class="aa-CollectionFooter">
                          <p class="aa-CollectionButton">
                            {%- if shop.metafields.algolia_collection.cta[forloop.index0] != blank -%}
                              {{- shop.metafields.algolia_collection.cta[forloop.index0] -}}
                            {%- else -%}
                              {{- 'algolia.shop_the_collection' | t -}}
                            {%- endif -%}
                          </p>
                        </div>
                      </a>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>

        <button class="aa-Close" type="button">
          <span class="aa-CloseIcon">
            {%- render 'bao-icon-close' -%}
          </span>
          <span class="util-ScreenReaderOnly">
            {{ 'accessibility.close' | t }}
          </span>
        </button>

        <div class="aa-PanelBackdrop"></div>`
      };
   })(window.algoliaShopify);
</script>
