{%- liquid 
  assign search_context = search_context | default: 'header'
-%}

<link
  rel="stylesheet"
  href="{{ 'header-search.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<script src="{{ 'header-search.js' | asset_url }}" defer="defer"></script>

<header-search class="hd-Search" aria-hidden="true" data-search-context="{{ search_context }}">
  <form
    action="/search"
    method="get"
    role="search"
    class="hd-Search_Form"
    autocomplete="off"
  >
    <input
      type="search"
      id="searchtext"
      name="q"
      class="hd-Search_Input"
      value="{{ search.terms | escape }}"
      placeholder="{{- 'layout.header.what_are_you_looking_for' | t -}}"
      required
      data-header-search-el="input"
    >
    <label for="search" class="util-ScreenReaderOnly">
      {{- 'layout.header.what_are_you_looking_for' | t -}}
    </label>

    {%- unless settings.enable_algolia -%}
      <button type="submit" class="hd-Search_Button">
        <span class="hd-Search_Icon hd-Search_Icon-search">
          {%- render 'bao-icon-search' -%}
        </span>
      </button>
    {%- endunless -%}
  </form>

  {%- if settings.enable_algolia -%}
    <span class="hd-Search_Button hd-Search_Button-faux">
      <span class="hd-Search_Icon hd-Search_Icon-search">
        {%- render 'bao-icon-search' -%}
      </span>
    </span>
  {%- endif -%}
</header-search>
