<link
  rel="stylesheet"
  href="{{ 'modal-media.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<link
  rel="stylesheet"
  href="{{ 'modal-mobile.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<script
  src="{{ 'media-gallery.js' | asset_url }}"
  type="module"
></script>

<script
  src="{{ 'modal-element.js' | asset_url }}"
  type="module"
></script>

<script
  src="{{ 'modal-mobile-element.js' | asset_url }}"
  type="module"
></script>

<media-gallery class="prd-Media" data-initialized="false">

  <div class="prd-Media_Inner">
  {%- if product.media.size > 1 -%}
    <div class="prd-Media_Navigation" style="width:155px">

      <div class="prd-Media_Thumbnails" data-el="media-gallery.thumbnails">
        {%- for media in product.media -%}
          <button type="button"
            class="prd-Media_Thumbnail prd-Media_Thumbnail-{{ media.media_type }}"
            aria-current="{{- forloop.first -}}"
            data-el="media-gallery.thumbnail"
            data-slide="{{- forloop.index0 -}}"
            >
            {%- case media.media_type -%}
              {%- when 'image' -%}
                {%- render 'responsive-image',
                  image: media,
                  width: 260,
                  size_by_width: true
                -%}
              {%- when 'video' -%}
                {%- render 'responsive-image',
                  image: media.preview_image,
                  width: 260,
                  size_by_width: true
                -%}
                <span class="prd-Media_PlayIcon">
                  {%- render 'bao-icon-play' -%}
                </span>
            {%- endcase -%}
          </button>
        {%- endfor -%}
      </div>

      <div class="prd-Media_Dots">
        {%- for media in product.media -%}
          <button type="button"
            class="prd-Media_Dot prd-Media_Thumbnail-{{ media.media_type }}"
            aria-current="{{- forloop.first -}}"
            data-el="media-gallery.dot"
            data-slide="{{- forloop.index0 -}}"
            >
            <span class="util-ScreenReaderOnly">
              {{ forloop.index0 }}
            </span>
          </button>
        {%- endfor -%}
      </div>

    </div>
    {%- endif -%}

    <div class="prd-Media_Gallery{% if product.media.size == 1 %} prd-Media_Gallery-single{% endif %}">
      <div class="prd-Media_Slides" data-el="media-gallery.slides">
        {%- for media in product.media -%}
          {%- liquid
            assign image_width = 1244
            assign image_height = 1840

            if product.media.size == 1 and media.media_type == "image"
              assign image_width = media.width
              assign image_height = media.height
            endif
          -%}
          <div class="prd-Media_Slide prd-Media_Slide-{{ media.media_type }}"
            data-el="media-gallery.slide"
            data-slide="{{- forloop.index0 -}}"
            data-cursor-element="zoom">
            <div class="prd-Media_SlideTrigger" data-modal-trigger="media-gallery">
              {%- case media.media_type -%}
                {%- when 'image' -%}
                  <div class="prd-Media_SlideImage" data-el="media-gallery.image" data-image="{{ media | image_url }}">
                    {%- assign preload = false -%}
                    {%- if forloop.first -%}
                      {%- assign preload = true -%}
                    {%- endif -%}

                    {%- render 'responsive-image',
                      image: media,
                      width: image_width,
                      height: image_height,
                      preload: preload
                    -%}
                  </div>
                {%- when 'video' -%}
                <div class="prd-Media_SlideVideo">
                  <video class="prd-Media_VideoPlayer" autoplay loop muted playsinline>
                    {%- for source in media.sources -%}
                      <source src="{{- source.url -}}" type="{{- source.mime_type -}}"></source>
                    {%- endfor -%}
                  </video>
                </div>
              {%- endcase -%}
            </div>
          </div>
        {%- endfor -%}
      </div>

      {%- if product.media.size > 1 -%}
      <div class="prd-Media_Arrows">
        <button
          class="prd-Media_Arrow prd-Media_Arrow-prev"
          data-el="media-gallery.controlprevious"
          data-direction="previous"
          data-cursor-element="left"
        >
          <span class="util-ScreenReaderOnly">
            {{ 'accessibility.previous' | t }}
          </span>
        </button>

        <button
          class="prd-Media_Arrow prd-Media_Arrow-next"
          data-el="media-gallery.controlnext"
          data-direction="next"
          data-cursor-element="right"
        >
          <span class="util-ScreenReaderOnly">
            {{ 'accessibility.next' | t }}
          </span>
        </button>
      </div>

      {%- endif -%}
    </div>

    <div class="prd-Media_Zoom">
      {%- render 'bao-icon-zoom' -%}
    </div>

    <div class="prd-Media_Pinch" data-el="media-gallery.pinch">
      {%- render 'bao-icon-pinch' -%}
      <span class="prd-Media_Pinch-text fz-14_20-headings">{{ 'accessibility.pinch' | t }}</span>
    </div>

    {% render 'cursor' %}
  </div>

  {%- capture body -%}
  <div class="mod-Media">
    <div class="mod-Media_Gallery">

      <div class="mod-Media_Slides">
        {%- for media in product.media -%}
          <div class="mod-Media_Slide mod-Media_Slide-{{ media.media_type }}"
            data-el="media-gallery.modalSlide"
            data-slide="{{- forloop.index0 -}}"
            aria-current="{{- forloop.first -}}">
            {%- case media.media_type -%}
              {%- when 'image' -%}
              {% comment %}
                <img class="mod-Media_SlideImage" src="{{- media | img_url: 'x1840' -}}" alt="" loading="lazy" width="1000" height="1000" />
                {% endcomment %}
                <span
                  class="mod-Media_SlideImage"
                  data-el="media-gallery.modalSlideImage"
                >
                {%- render 'responsive-image-zoom',
                  image: media,
                  width: 1244,
                  height: 1840
                -%}
              </span>
              {%- when 'video' -%}
                <video class="mod-Media_SlideVideo" controls>
                  {%- for source in media.sources -%}
                  <source src="{{- source.url -}}" type="{{- source.mime_type -}}"></source>
                  {%- endfor -%}
                </video>
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>

      <div class="mod-Media_Arrows">
        <button
          class="mod-Media_Arrow mod-Media_Arrow-prev"
          data-el="media-gallery.controlprevious"
          data-direction="previous"
        >
          <span class="util-ScreenReaderOnly">
            {{ 'accessibility.previous' | t }}
          </span>
          <span class="mod-Media_ArrowIcon">
            {%- render 'bao-icon-chevron-left' -%}
          </span>
        </button>

        <button
          class="mod-Media_Arrow mod-Media_Arrow-next"
          data-el="media-gallery.controlnext"
          data-direction="next"
        >
          <span class="util-ScreenReaderOnly">
            {{ 'accessibility.next' | t }}
          </span>
          <span class="mod-Media_ArrowIcon">
            {%- render 'bao-icon-chevron-right' -%}
          </span>
        </button>
      </div>

    </div>
  </div>
  {%- endcapture -%}

  {%- render 'modal',
    modal_style: 'mediagallery',
    modal_type: 'media-gallery',
    body: body
  -%}

  {%- render 'modal-mobile' -%}

</media-gallery>
