{{ 'product-options.css' | asset_url | stylesheet_tag }}

<script
  src="{{ 'product-options.js' | asset_url }}"
  defer="defer"
></script>

<product-options class="prd-Options">
  {%- unless product.has_only_default_variant -%}
    <variant-selects data-section="{{ section.id }}" data-url="{{ product.url }}" data-product-id="{{ product.id }}">
      {%- for option in product.options_with_values -%}
        {%- liquid
          assign option_handle = option.name | handleize
          assign is_size = false
          if option_handle contains "size"
            assign is_size = true
          endif
        -%}

        {%- capture option_buttons_html -%}
          {%- assign option_has_small_value = false -%}
          {%- for value in option.values -%}
            {%- liquid
              if value.size < 3
                assign option_has_small_value = true
              endif

              if option.selected_value == value
                assign current_value = value
              endif
            -%}

            <button
              type="button"
              class="prd-Options_Button"
              data-value="{{ value | escape }}"
              data-title="{{ value | escape }}"
              data-product-options-el="trigger"
              data-variant-selects-option
              data-index="{{- product.id -}}option{{- option.position -}}"
              {% if option.selected_value == value %}aria-pressed="true"{% endif %}
            >
              <span class="prd-Options_Value fz-14_20">
                {{- value | escape -}}
              </span>
              <span class="prd-Options_Background"></span>

              {%- unless product.metafields.stock_management.no_restock -%}
                <span class="prd-Options_Icon">
                  {%- render 'bao-icon-notify' -%}
                  <span class="util-ScreenReaderOnly">
                    {{- 'products.back_in_stock.notify_me_when_back_in_stock' | t -}}
                  </span>
                </span>
              {%- endunless -%}
            </button>
          {%- endfor -%}
        {%- endcapture -%}
        <div class="prd-Options_Option{% if option_has_small_value %} prd-Options_Option-small{% endif %}">
          <label
            class="prd-Options_Label fz-12_20"
            for="SingleOptionSelector-{{- product.id -}}-{{- forloop.index0 -}}"
          >
            {%- if template.suffix != 'gift-card' -%}
              <span class="prd-Options_LabelText">{{ option.name }}{% if is_size %}:{% endif %}</span>

              {%- liquid
                assign cup_size_option = option.name | handleize
                assign cup_size_right_side_check = 'Cup size' | handleize
                assign model_information = product.metafields.product_details.model_information
              -%}

              {%- if is_size and cup_size_option != cup_size_right_side_check -%}
                <span data-variant-selects-current-size>{{ current_value }}</span>
              {%- endif -%}
            {%- endif -%}

            {% if is_size and cup_size_option == cup_size_right_side_check %}
              {%- if template.suffix == 'gift-card' -%}
                {{- 'products.product_options.gift_card_label' | t -}}
              {%- else -%}
                {{- 'products.product_options.cup_size_label' | t -}}
              {%- endif -%}
            {% endif %}
          </label>

          <div class="prd-Options_Buttons">
            {{- option_buttons_html -}}
          </div>

          {% if is_size and cup_size_option != cup_size_right_side_check %}
            <div class="prd-Options_SizeFooter">
              {% if model_information != blank %}
                <span class="prd-Options_ModelInformation">{{ model_information }}</span>
              {% endif %}

              <button class="prd-Options_SizeGuide" type="button" data-drawers-trigger="size-guide">
                {{- 'products.product.size_guide' | t -}}
              </button>
            </div>
          {% endif %}

          <select
            class="prd-Options_Select util-ScreenReaderOnly"
            id="SingleOptionSelector-{{- product.id -}}-{{- forloop.index0 -}}"
            data-index="{{- product.id -}}option{{- option.position -}}"
            name="options[{{ option.name | escape }}]"
            data-product-options-el="select"
            form="product-form-{{ section.id }}"
          >
            {%- for value in option.values -%}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}
              >
                {{ value }}
              </option>
            {%- endfor -%}
          </select>
        </div>
      {%- endfor -%}

      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-selects>
  {%- endunless -%}
</product-options>
