{% comment %}ly_liquid_scripts_begin{% endcomment %}{% capture ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}<!doctype html>
  <html class="util-NoJs" lang="{{ request.locale.iso_code }}"{% comment %}ly_dir_replace_for_[]_begin{% endcomment %}{%- assign language_code = '_' | append: request.locale.iso_code -%}{%- if '_ar_ha_he_fa_ks_ku_ps_ur_yi' contains language_code -%} dir="rtl" {%- endif -%}{% comment %}ly_dir_replace_end{% endcomment %}>

    <head>
    
      <link
      rel="stylesheet"
      href="{{ 'rtl.css' | asset_url }}"
    >
      
    <meta name="apple-itunes-app" content="app-id=1446565964">
      {%- render 'theme-head' -%}
    
      {%- if settings.enable_google_tag_manager -%}
        {%- render 'theme-gtm', placement: 'head' -%}
      {%- endif -%}
    
    <script>
    (function(w,d,t,r,u)
    {
    var f,n,i;
    w[u]=w[u]||[],f=function()
    {
    var o={ti:"211017425", tm:"shpfy_ui", enableAutoSpaTracking:
    true};
    o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")
    },
    n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function()
    {
    var s=this.readyState;
    s&&s!=="loaded"&&s!=="complete"||
    (f(),n.onload=n.onreadystatechange=null)
    },
    i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)
    })
    (window,document,"script","//bat.bing.com/bat.js","uetq");
    </script>
    
      {{ content_for_header }}
    
      {%- if settings.enable_loyalty_lion -%}
        {% render "loyaltylion" %}
      {%- endif -%}
    
      {%- if settings.enable_google_tag_manager -%}
        {%- render 'theme-gtm-datalayer' -%}
      {%- endif -%}
    
      {%- if localization.country.iso_code == 'AE' -%}
        {%- render 'theme-google-search-console' -%}
      {%- endif -%}
    
      {%- render 'script-google-optimize' -%}
    
      {%- if localization.country.iso_code != 'GB' and localization.country.iso_code != 'AE' -%}
        {%- render 'script-order-protection' -%}
      {%- endif -%}
    
      {% if localization.country.iso_code == 'GB' %}
          {% render 'script-remove-op' %}
      {% endif %}
    
      {%- if template.name == 'collection' -%}
        <script>
          window.onload = function() {
            if ('scrollRestoration' in history) {
                // Check if the browser supports scroll restoration feature
                history.scrollRestoration = 'manual'; // Disable it
            }
          };
        </script>
      {%- endif -%}
    
    
      <meta name="google-site-verification" content="xtoFYWAlpi09eJuvVuFveYWf2hbgRJKoZPuMs40xTr8" />{% comment %}ly_dir_styles_begin{% endcomment %}{%- assign language_code = '_' | append: request.locale.iso_code -%}{%- if '_ar_ha_he_fa_ks_ku_ps_ur_yi' contains language_code -%}{{- 'ly-rtl.css' | asset_url | stylesheet_tag -}}{%- endif -%}{% comment %}ly_dir_styles_end{% endcomment %}</head>
    
    {%- liquid
      assign usps_above_hero = false
      if request.page_type == "collection" and collection.metafields.settings.usps_above_hero != blank
        assign usps_above_hero = true
      endif
    
      assign exposed_search_ab_active = false
      unless settings.ab_test_exposed_search_options == 'search-layout-default'
        assign exposed_search_ab_active = true
        assign exposed_search_option = settings.ab_test_exposed_search_options
      endunless
    
      assign colour_theme = settings.colour_theme
    -%}
    <script>
    window.mlvedaShopCurrency = "{{ shop.currency }}";
    window.shopCurrency = "{{ shop.currency }}";
    window.supported_currencies = "{{ settings.mlvedaACS_supportedCurrencies }}";
    </script>
    
    <body id="{{ page_title | handle }}"
      class="lyt-Site template-{{ template.name | handle }} template-{{ template.name | handle }}-{{ template.suffix | handle }} lyt-Site-transparentHeader{% if usps_above_hero %} lyt-Site-uspsAboveHero{% endif %}{% if settings.enable_algolia %} lyt-Site-algoliaReady{% endif %}{% if exposed_search_ab_active %} lyt-Site-search-layout-modified lyt-Site-{{ exposed_search_option }}{% endif %}{% if colour_theme != 'default' %} lyt-Site-{{ colour_theme }}{% endif %}"
      data-layout-header-external-el="body"
      data-iso="{{ localization.country.iso_code }}"
    >
    <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
    
    {%- if settings.enable_google_tag_manager -%}
      {%- render 'theme-gtm', placement: 'body' -%}
    {%- endif -%}
    
    <!--  Clickcease.com tracking-->
    <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->
    
    {% capture SectionsPro %}
      {% section 'sections-pro' %}
    {% endcapture %}
    
    {% render 'sections_pro_functions' sectionsPro:SectionsPro %}
    
      {%- render 'theme-body-top' -%}
    
      <main class="lyt-Main" id="MainContent">
        {% render 'sections_pro_header' %}
        {{ content_for_layout }}
        {% render 'sections_pro_footer' %}
      </main>
    
      {%- render 'theme-body-bottom' -%}
    
      {% render 'swymSnippet' %}
    
    {%- if settings.order_tracker_modal_enable -%}
      {%- render 'track-order-modal' -%}
    {%- endif -%}
    
    <script> (function(){ var s = document.createElement('script'); var h = document.querySelector('head') || document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, disableBgProcess : false, language : 'en', position : 'left', leadColor : '#eca6a8', triggerColor : '#f7c5c6', triggerRadius : '50%', triggerPositionX : 'left', triggerPositionY : 'bottom', triggerIcon : 'wheels', triggerSize : 'medium', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'left', triggerPositionY : 'bottom', triggerOffsetX : 10, triggerOffsetY : 0, triggerRadius : '50%' } }); }; h.appendChild(s); })(); </script>
    
    {% render 'swymSnippet' %}
    
    <click-and-collect></click-and-collect>
    
      {%- if shop.permanent_domain == 'oh-polly-au.myshopify.com' -%}
        <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=dd2f2c8e-058b-4bf9-87b9-d4002102008e"> </script>
      {%- endif -%}
    
    {% include 'swymSnippet' %}
    
    
    {%- liquid
      if settings.enable_algolia
        render 'algolia-theme'
      endif
    -%}
    
    <!-- PURPLEDOT CODE START -->
    {% if settings.use_purpledot and settings.purpledot_api_key != blank %}
      {% render 'purple-dot' %}
    {% endif %}
    <!-- PURPLEDOT CODE END -->
    {%- section 'checkout-delivery' -%}
    {%- render 'script-ometria' -%}
    {%- render 'script-afterpay' -%}
    <script src="{{ 'seedgrow-whatsapp-init.js' | asset_url }}" defer="defer"></script><script src="{{ 'seedgrow-whatsapp-lib.js' | asset_url }}" defer="defer"></script>
    
    {% if product %}
      <script>
    window.addEventListener('load', function() {
    var _learnq = window._learnq || [];
    function addedToCart() {
      fetch(`${window.location.origin}/cart.js`)
      .then(res => res.clone().json().then(data => {
        var cart = {
          total_price: data.total_price/100,
          $value: data.total_price/100,
          total_discount: data.total_discount,
          original_total_price: data.original_total_price/100,
          items: data.items
        }
        if (item !== 'undefined') {
          cart = Object.assign(cart, item)
        }
        if (klAjax) {
            _learnq.push(['track', 'Added to Cart', cart]);
            klAjax = false;
          }
      }))
    };
    (function (ns, fetch) {
      ns.fetch = function() {
        const response = fetch.apply(this, arguments);
        response.then(res => {
          if (`${window.location.origin}/cart/add.js`
            .includes(res.url)) {
              addedToCart()
          }
        });
        return response
      }
    }(window, window.fetch));
    var klAjax = true;
    var atcButtons = document.querySelectorAll("form[action*='/cart/add'] button[type='submit']");
    for (var i = 0; i < atcButtons.length; i++) {
        atcButtons[i].addEventListener("click", function() {
          if (klAjax) {
            _learnq.push(['track', 'Added to Cart', item]);
            klAjax = false;
          }
        })
    }
    });
    </script>
    {% endif %}  
    {% include 'mlveda-currencies-switcher' %}
    {% include 'mlveda-currencies' %}
    {% include 'mlveda-flag' %}
    {% include 'mlveda-currencies-style' %}
    
    {% render 'nosto-tagging' %}
    <!-- langify-v2-scripts-begin -->{% comment %}ly_liquid_scripts_begin{% endcomment %}{% endcapture %}{% render 'ly-liquid-scripts' content: ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}{% comment %}ly_core_scripts_begin{% endcomment %}{% render 'ly-core-scripts' %}{% comment %}ly_core_scripts_end{% endcomment %}{% comment %}ly_switcher_factory_begin{% endcomment %}{% render 'ly-switcher-factory' %}{% comment %}ly_switcher_factory_end{% endcomment %}<!-- langify-v2-scripts-end --></body>
    </html>
    