<link
  rel="stylesheet"
  href="{{ 'section-form.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
>

<script
  src="{{ 'contact-form.js' | asset_url }}"
  type="module"
></script>

<contact-form>
  <section class="sec-Form sec-Form-contact" data-subject="" aria-expanded="false">
    <div class="sec-Form_Inner lyt-Container">
      <div class="sec-Form_Body">

        <div class="sec-Form_Form fz-14_20">
          {%- form 'contact', class: 'frm-Form' -%}

            <header class="frm-Form_Header">
              <div class="frm-Form_Row">
                <h3 class="frm-Form_Text frm-Form_Text-title fz-24_29">
                  {{ 'templates.contact.form.form_title' | t }}
                </h3>
                <p class="frm-Form_Text fz-14_20">
                  {{ 'templates.contact.form.form_text' | t }}
                </p>

                <div class="frm-Form_HeaderIcon btn-Button_Arrow-pinkLarge">
                  {%- render 'bao-icon-chevron-down' -%}
                </div>
              </div>
            </header>

            <div class="frm-Form_Main">
              <div class="frm-Form_Row">
                {%- liquid
                  assign success_message = 'templates.contact.form.success_message' | t | strip
                  assign error_message = 'templates.contact.form.error_message' | t | strip
                -%}
                {%- render 'form-messages', form: form, success_message: success_message, error_message: error_message -%}

                <div class="frm-Form_Subject fz-13_18">
                  {%- assign subject_options = 'templates.contact.form.subject_options' | t -%}
                  {%- render 'form-field-contact', form: form, field_name: "Subject", translation_key: "templates.contact.form.subject", type: "select", options: subject_options -%}
                </div>
              </div>

              <div class="frm-Form_Row frm-Form_Row-first">
                <p class="frm-Form_Text fz-14_20-headings">
                  {{ 'templates.contact.form.contact_details' | t }}
                </p>
              </div>

              <div class="frm-Form_Row">
                {%- render 'form-field-contact', form: form, field_name: "Order Number", translation_key: "templates.contact.form.order_number" -%}
              </div>

              <div class="frm-Form_Row">
                {%- render 'form-field-contact', form: form, field_name: "Email", type="email" translation_key: "templates.contact.form.email_address", required: true -%}
              </div>

              <div class="frm-Form_Row">
                <div class="frm-Form_Columns">
                  <div class="frm-Form_Column">
                    {%- render 'form-field-contact', form: form, field_name: "Post Code", translation_key: "templates.contact.form.post_code", required: true -%}
                  </div>
                  <div class="frm-Form_Column">
                    {%- render 'form-field-contact', form: form, field_name: "Full Name", translation_key: "templates.contact.form.full_name", required: true -%}
                  </div>
                </div>
              </div>

              <div class="frm-Form_Row frm-Form_Row-returns">
                {%- render 'form-field-contact', form: form, field_name: "Returns Tracking Number", translation_key: "templates.contact.form.returns_tracking_number" -%}
              </div>

              <div class="frm-Form_Row frm-Form_Row-returns">
                {%- render 'form-field-contact', form: form, field_name: "Product(s) Returned", translation_key: "templates.contact.form.returns_products" type: "textarea" -%}
              </div>

              <div class="frm-Form_Row frm-Form_Row-stockEnquiry">
                <div class="frm-Form_Columns">
                  <div class="frm-Form_Column">
                    {%- render 'form-field-contact', form: form, field_name: "SKU", translation_key: "templates.contact.form.stock_enquiry_sku" -%}
                  </div>
                  <div class="frm-Form_Column">
                    {%- render 'form-field-contact', form: form, field_name: "Colour", translation_key: "templates.contact.form.stock_enquiry_colour" -%}
                  </div>
                  <div class="frm-Form_Column">
                    {%- render 'form-field-contact', form: form, field_name: "Size", translation_key: "templates.contact.form.stock_enquiry_size" -%}
                  </div>
                </div>
              </div>

              <div class="frm-Form_Row">
                {%- render 'form-field-contact', form: form, field_name: "Message", translation_key: "templates.contact.form.message", type: "textarea" -%}
              </div>

              <div class="frm-Form_Row">
                <p class="frm-Form_Text frm-Form_Text-footer fz-12_17">
                  {{ 'templates.contact.form.required_fields' | t }}
                </p>
              </div>

              <div class="frm-Form_Row frm-Form_Row-last">
                <button
                  class="btn-Button btn-Button-primary btn-Button-border btn-Button-fullWidth"
                  type="submit"
                >
                  {{ 'templates.contact.form.send' | t }}
                </button>
              </div>
            </div>

          {% endform %}
        </div>
      </div>
    </div>
  </section>
</contact-form>

{% schema %}
{
  "name": "Contact Form",
  "templates": ["page"],
  "settings": [
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}
