<link
  rel="stylesheet"
  href="{{ 'footer.css' | asset_url }}"
>

<link
  rel="stylesheet"
  href="{{ 'footer-contact.css' | asset_url }}"
>

<link
  rel="stylesheet"
  href="{{ 'footer-navigation.css' | asset_url }}"
>

<link
  rel="stylesheet"
  href="{{ 'footer-accordion.css' | asset_url }}"
>

<link
  rel="stylesheet"
  href="{{ 'footer-socials.css' | asset_url }}"
>

{%- if section.settings.link_list_enable == true and section.settings.link_list.links.size > 0 -%}
  <script
    src="{{ 'footer-accordions.js' | asset_url }}"
    defer="defer"
  ></script>
{%- endif -%}

<footer class="ft-Footer" aria-label="Footer" data-section-id="{{ section.id }}">

  {%- if section.settings.shop_now_enable -%}
  <div class="ft-Footer_ShopNow">
    {%- render 'footer-shop-now',
      marquee_speed: section.settings.marquee_speed,
      marquee_gap: section.settings.marquee_gap,
      blocks: section.blocks
    -%}
  </div>
  {%- endif -%}

  <div class="ft-Footer_Footer">
    <div class="ft-Footer_Inner lyt-Container">
      <div class="ft-Footer_Body">
        <div class="ft-Footer_Columns">

          <div class="ft-Footer_Column ft-Footer_Column-navigation ft-Footer_Column-desktop">

            {%- if section.settings.link_list_enable == true -%}
              <div class="ft-Footer_Section ft-Footer_Section-navigation">

                <div class="ft-Navigation_Columns">
                  {%- if section.settings.link_list.links.size > 0 -%}
                    {%- for link in section.settings.link_list.links -%}
                      <div class="ft-Navigation_Column">

                        <h3 class="ft-Navigation_Title fz-14_20-headings">
                          {{ link.title }}
                        </h3>

                        <nav class="ft-Navigation_Links" aria-label="{{ 'layout.footer.navigation_label' | t: title: link.title }}">
                          {%- for child_link in link.links -%}
                            <a class="ft-Navigation_Link{% if child_link.active %} ft-Navigation_Link-active{% endif %} fz-13_13" href="{{ child_link.url }}">
                              <span class="ft-Navigation_LinkText">
                                {{ child_link.title }}
                              </span>
                            </a>
                          {%- endfor -%}
                        </nav>
                      </div>
                    {%- endfor -%}
                  {%- endif -%}
                  {% if settings.order_tracker_modal_enable %}
                    <div class="ft-Navigation_Column ft-Navigation_OrderTracking">
                      <button class="ft-Navigation_Title ft-Navigation_Title fz-14_20-headings" type="button">
                        <a href="/account" class="ft-Navigation_Title">
                        <span class="ft-Navigation_TitleIcon">
                          {%- render 'bao-icon-map-pin' -%}
                        </span>
                        <span class="ft-Navigation_TitleText">{{ 'layout.footer.order_tracking' | t }}</span>
                        </a>
                      </button>
                    </div>
                  {% endif %}
                </div>

              </div>
            {%- endif -%}

          </div>

          <div class="ft-Footer_Column ft-Footer_Column-newsletter">

            {%- if section.settings.newsletter_enable == true -%}
              <div class="ft-Footer_Section ft-Footer_Section-newsletter">
                {%- if section.settings.newsletter_title != blank -%}
                <h3 class="ft-Footer_Header fz-14_20-headings">
                  {{ section.settings.newsletter_title }} {%- if section.settings.newsletter_subtitle != blank -%}<span class="ft-Footer_HeaderSpan">{{ section.settings.newsletter_subtitle }}</span>{%- endif -%}
                </h3>
                {%- endif -%}

                {%- if section.settings.ometria_footer_form_id != blank -%}
                <div class="ft-Footer_Newsletter">
                  {%- render 'footer-newsletter' -%}
                  <p class="ft-Footer_Terms rte-RichText fz-12_17">{{ 'layout.footer.terms_html' | t}}</p>
                </div>
                {%- endif -%}

              </div>
            {%- endif -%}

            {%- if section.settings.link_list_enable == true -%}
              <div class="ft-Footer_Section ft-Footer_Section-navigation ft-Footer_Section-mobile">

                {% if settings.order_tracker_modal_enable %}
                  <div class="ft-Navigation_Column ft-Navigation_OrderTracking">
                    <button class="ft-Navigation_Title ft-Navigation_Title fz-14_20-headings" type="button">
                      <a href="/account" class="ft-Navigation_Title ">
                      <span class="ft-Navigation_TitleIcon">
                        {%- render 'bao-icon-map-pin' -%}
                      </span>
                      <span class="ft-Navigation_TitleText">{{ 'layout.footer.order_tracking' | t }}</span>
                      </a>
                    </button>
                  </div>
                {% endif %}

                <footer-accordions class="ft-Accordion">
                  {%- if section.settings.link_list.links.size > 0 -%}
                    {%- for link in section.settings.link_list.links -%}
                      <div
                        class="ft-Accordion_Item"
                        data-el="footer-accordions.item"
                        aria-expanded="false"
                        role="menu"
                      >
                        <div
                          class="ft-Accordion_Header"
                          data-el="footer-accordions.trigger"
                          role="button"
                        >
                          <h3 class="ft-Accordion_Title fz-14_20-headings">
                            {{ link.title }}
                          </h3>

                          <div class="ft-Accordion_Icon btn-Button_Arrow-white">
                            {%- render 'bao-icon-chevron-down' -%}
                          </div>
                        </div>

                        <div class="ft-Accordion_Body">
                          <nav class="ft-Accordion_Links" data-el="footer-accordions.links" aria-label="{{ 'layout.footer.navigation_label' | t: title: link.title }}">
                            {%- for child_link in link.links -%}
                              <a class="ft-Accordion_Link{% if child_link.active %} ft-Navigation_Link-active{% endif %} fz-13_13" href="{{ child_link.url }}" aria-label="{{ child_link.title }}">
                                {{ child_link.title }}
                              </a>
                            {%- endfor -%}
                          </nav>
                        </div>
                      </div>
                    {%- endfor -%}
                  {%- endif -%}

                </footer-accordions>

              </div>
            {%- endif -%}

            {%- if section.settings.social_enable == true -%}
            <div class="ft-Footer_Section ft-Footer_Section-socials">

              <ul class="ft-Socials">
              {%- assign socials = "Instagram,Facebook,Pinterest,Twitter,TikTok,YouTube" | split: "," -%}
              {%- for social in socials -%}
                {%- liquid
                  assign social_downcase = social | downcase
                  assign social_key = "social_" | append: social_downcase | append: "_link"
                -%}
                {%- if settings[social_key] != blank -%}
                  <li class="ft-Socials_Item">
                    <a
                      class="ft-Socials_Link"
                      href="{{- settings[social_key] -}}"
                      aria-label="{{ 'layout.footer.follow_us' | t: social: social }}"
                      target="_blank"
                    >
                      {%- liquid
                        case social_downcase
                          when "instagram"
                            render 'bao-icon-instagram', id: 'baoIconInstagram'
                          when "facebook"
                            render 'bao-icon-facebook', id: 'baoIconFacebook'
                          when "pinterest"
                            render 'bao-icon-pinterest', id: 'baoIconPinterest'
                          when "twitter"
                            render 'bao-icon-twitter', id: 'baoIconTwitter'
                          when "tiktok"
                            render 'bao-icon-tiktok', id: 'baoIconTikTok'
                          when "youtube"
                            render 'bao-icon-youtube'  , id: 'baoIconYoutube'
                        endcase
                      -%}
                    </a>
                  </li>
                {%- endif -%}
              {%- endfor -%}
              </ul>

            </div>
            {%- endif -%}

            {%- if section.settings.carbon_footprint_image -%}
              <div class="ft-Footer_Section ft-Footer_Section-carbonFootprint ft-Footer_Section-mobile">
                <div class="ft-Footer_CarbonFootprint">
                  {%- render 'responsive-image',
                    image: section.settings.carbon_footprint_image,
                    width: 750
                  -%}
                </div>
              </div>
            {%- endif -%}

          </div>
          {%- if section.settings.carbon_footprint_image -%}
            <div class="ft-Footer_Column ft-Footer_Column-carbonFootprint ft-Footer_Column-desktop">
              <div class="ft-Footer_CarbonFootprint">
                {%- render 'responsive-image',
                  image: section.settings.carbon_footprint_image,
                  width: 750
                -%}
              </div>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>

  <div class="ft-Footer_Bar">
    <div class="ft-Footer_Inner lyt-Container">
      <div class="ft-Footer_Columns ft-Footer_Columns-footerbar">
        <div class="ft-Footer_Column ft-Footer_Column-copyright">
          <p class="ft-Footer_Copyright fz-12_17">
            {{ 'layout.footer.copyright' | t }}
          </p>
        </div>
        <div class="ft-Footer_Column ft-Footer_Column-reviews">
          {%- if section.settings.reviews_enable == true -%}
            <div class="ft-Footer_Content">
            </div>
          {%- endif -%}
        </div>

        <div class="ft-Footer_BackToTop">
          <a href="#top" aria-label="{{ 'layout.footer.back_to_top' | t }}" class="btn-Button_Arrow-backtotop">
            {%- render 'bao-icon-chevron-up' -%}
          </a>
        </div>

      </div>
    </div>
  </div>

</footer>

{% schema %}
{
  "name": "Footer",
  "class": "ft-Footer_Container",
  "settings": [
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "checkbox",
      "id": "link_list_enable",
      "label": "Enable",
      "default": false
    },
    {
      "type": "link_list",
      "id": "link_list",
      "label": "Link list"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Enable",
      "default": false
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Title",
      "default": "Sign up to our newsletter."
    },
    {
      "type": "text",
      "id": "newsletter_subtitle",
      "label": "Subtitle",
      "default": "Don’t miss out on our dreamy new product drops or exculsive offers."
    },
    {
      "type": "text",
      "id": "ometria_footer_form_id",
      "label": "Footer Form ID",
      "info": "The Form ID for newsletter form. Defaults - UK: 4656e501871593c4b79ac98d15fba29d, AU: 99cd51e44933027f711e266335b4f3f7, US: f83a7710c4fe660b10d0bc883b035558"
    },
    {
      "type": "text",
      "id": "ometria_footer_list_id",
      "label": "Footer List ID",
      "info": "The List ID for footer form"
    },
    {
      "type": "header",
      "content": "Social"
    },
    {
      "type": "checkbox",
      "id": "social_enable",
      "label": "Enable",
      "default": false,
      "info": "Once enabled, social icons will be shown that are enabled under theme settings."
    },
    {
      "type": "header",
      "content": "Reviews"
    },
    {
      "type": "checkbox",
      "id": "reviews_enable",
      "label": "Enable",
      "default": false
    },
    {
      "type": "header",
      "content": "Shop Now / Pay Later Bar"
    },
    {
      "type": "checkbox",
      "id": "shop_now_enable",
      "label": "Enable"
    },
    {
      "type": "range",
      "id": "marquee_speed",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "#",
      "label": "Speed",
      "info": "Ticker Speed",
      "default": 10
    },
    {
      "type": "range",
      "id": "marquee_gap",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Gap",
      "info": "Item Gap",
      "default": 20
    },
    {
      "type": "image_picker",
      "id": "carbon_footprint_image",
      "label": "Carbon footprint logo"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "shop-now",
      "name": "Shop Now",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Shop now <strong>Pay later</strong> with [logo]</p>"
        },
        {
          "type": "select",
          "id": "logo",
          "label": "Logo",
          "options": [
            {
              "value": "klarna",
              "label": "Klarna"
            },
            {
              "value": "afterpay",
              "label": "Afterpay"
            },
            {
              "value": "clearpay",
              "label": "Clearpay"
            },
            {
              "value": "zip",
              "label": "Zip"
            },
               {
              "value": "laybuy",
              "label": "Laybuy"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
