{{ 'article.css' | asset_url | stylesheet_tag }}
{{ 'article-header.css' | asset_url | stylesheet_tag }}
{{ 'article-image-with-caption.css' | asset_url | stylesheet_tag }}
{{ 'article-product-carousel.css' | asset_url | stylesheet_tag }}
{{ 'article-double-upsell.css' | asset_url | stylesheet_tag }}
{{ 'article-double-image.css' | asset_url | stylesheet_tag }}
{{ 'article-upsell-item.css' | asset_url | stylesheet_tag }}
{{ 'article-video.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign article_category = blog.title

  for tag in article.tags
    assign lower_tag = tag | downcase
    
    if lower_tag contains 'category:'
      assign article_category = tag | remove: 'category: ' | remove: 'Category: '

      break
    endif
  endfor

  assign article_content = article.content
-%}

{%- for acf_code_tag in article.metafields.image_with_caption.code_tag -%}
  {%- if acf_code_tag != blank and article.metafields.image_with_caption.enable[forloop.index0] == 'true' -%}
    {%- assign acf_code_tag_para = '<p>' | append: acf_code_tag | append: '</p>' -%}

    {%- capture acf_snippet -%}
      <div class="art-Article_ImageWithCaption">
        <figure class="art-ImageWithCaption">
          <div class="art-ImageWithCaption_Image">
            {%- render 'responsive-image-metafield',
              image: article.metafields.image_with_caption.image[forloop.index0].first,
              width: article.metafields.image_with_caption.image[forloop.index0].first.width,
              height: article.metafields.image_with_caption.image[forloop.index0].first.height
            -%}
          </div>

          {%- if article.metafields.image_with_caption.caption != blank -%}
            <figcaption class="art-ImageWithCaption_Caption fz-12_17">
              {{ article.metafields.image_with_caption.caption[forloop.index0] }}
            </figcaption>
          {%- endif -%}
        </figure>
      </div>
    {%- endcapture -%}

    {%- liquid
      assign article_content = article_content | replace: acf_code_tag_para, acf_snippet
      assign article_content = article_content | replace: acf_code_tag, acf_snippet
    -%}
  {%- endif -%}
{%- endfor -%}

{%- for acf_code_tag in article.metafields.product_carousel.code_tag -%}
  {%- if acf_code_tag != blank and article.metafields.product_carousel.enable[forloop.index0] == 'true' -%}
    {%- assign acf_code_tag_para = '<p>' | append: acf_code_tag | append: '</p>' -%}

    {%- capture acf_snippet -%}
      {%- assign article_product_handles = article.metafields.product_carousel.products[forloop.index0] | split: '|' -%}

      <div class="art-Article_ProductCarousel" data-slides-count="{{ article_product_handles.size }}">
        <div class="art-ProductCarousel">
          {%- if article.metafields.product_carousel.title[forloop.index0] != blank -%}
            <h2 class="art-ProductCarousel_Title fz-24_29">
              {{ article.metafields.product_carousel.title[forloop.index0] }}
            </h2>
          {%- endif -%}
          
          <carousel-element
            class="art-ProductCarousel_Carousel car-Carousel"
            data-initialized="false"
            data-loop="true"
            data-centered="false"
            data-centered-sm="true"
            data-centered-md="true"
            data-centered-lg="true"
            data-slides-per-view-xs="2"
            data-slides-per-view-sm="3"
            data-slides-per-view-md="4"
            data-slides-per-view-lg="4"
            data-spacing-xs="10"
            data-spacing-sm="10"
            data-spacing-md="10"
            data-spacing-lg="10"
            data-slides-count="{{ article_product_handles.size }}"
            data-fallback-classes="true"
          >
            <div
              class="art-ProductCarousel_Items car-Carousel_Slides"
              data-carousel-element-el="slides"
            >
              {%- for article_product_handle in article_product_handles -%}
                {%- assign article_product = all_products[article_product_handle] -%}

                {%- if article_product != blank -%}
                  <div
                    class="art-ProductCarousel_Item car-Carousel_Slide"
                    data-carousel-element-el="slide"
                  >
                    {%- render 'product-card',
                      product: article_product
                    -%}
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </carousel-element>
        </div>
      </div>
    {%- endcapture -%}

    {%- liquid
      assign article_content = article_content | replace: acf_code_tag_para, acf_snippet
      assign article_content = article_content | replace: acf_code_tag, acf_snippet
    -%}
  {%- endif -%}
{%- endfor -%}

{%- for acf_code_tag in article.metafields.single_upsell.code_tag -%}
  {%- if acf_code_tag != blank and article.metafields.single_upsell.enable[forloop.index0] == 'true' -%}
    {%- liquid assign acf_code_tag_para = '<p>' | append: acf_code_tag | append: '</p>' -%}

    {%- capture acf_snippet -%}
      <div class="art-Article_SingleUpsell">
        <div class="art-SingleUpsell">
          <div class="art-SingleUpsell_Items">
            <div class="art-SingleUpsell_Item">
              {%- render 'article-upsell-item',
                image: article.metafields.single_upsell.image[forloop.index0],
                title: article.metafields.single_upsell.title[forloop.index0],
                text: article.metafields.single_upsell.text[forloop.index0],
                link: article.metafields.single_upsell.link[forloop.index0]
              -%}
            </div>
          </div>
        </div>
      </div>
    {%- endcapture -%}

    {%- liquid
      assign article_content = article_content | replace: acf_code_tag_para, acf_snippet
      assign article_content = article_content | replace: acf_code_tag, acf_snippet
    -%}
  {%- endif -%}
{%- endfor -%}

{%- for acf_code_tag in article.metafields.double_upsell.code_tag -%}
  {%- if acf_code_tag != blank and article.metafields.double_upsell.enable[forloop.index0] == 'true' -%}
    {%- liquid assign acf_code_tag_para = '<p>' | append: acf_code_tag | append: '</p>' -%}

    {%- capture acf_snippet -%}
      <div class="art-Article_DoubleUpsell">
        <div class="art-DoubleUpsell">
          {%- if article.metafields.double_upsell.title[forloop.index0] != blank -%}
            <h2 class="art-DoubleUpsell_Title fz-24_29">
              {{ article.metafields.double_upsell.title[forloop.index0] }}
            </h2>
          {%- endif -%}

          <div class="art-DoubleUpsell_Items">
            <div class="art-DoubleUpsell_Item">
              {%- render 'article-upsell-item',
                image: article.metafields.double_upsell.item_1_image[forloop.index0],
                title: article.metafields.double_upsell.item_1_title[forloop.index0],
                text: article.metafields.double_upsell.item_1_text[forloop.index0],
                link: article.metafields.double_upsell.item_1_link[forloop.index0]
              -%}
            </div>

            <div class="art-DoubleUpsell_Item">
              {%- render 'article-upsell-item',
                image: article.metafields.double_upsell.item_2_image[forloop.index0],
                title: article.metafields.double_upsell.item_2_title[forloop.index0],
                text: article.metafields.double_upsell.item_2_text[forloop.index0],
                link: article.metafields.double_upsell.item_2_link[forloop.index0]
              -%}
            </div>
          </div>
        </div>
      </div>
    {%- endcapture -%}

    {%- liquid
      assign article_content = article_content | replace: acf_code_tag_para, acf_snippet
      assign article_content = article_content | replace: acf_code_tag, acf_snippet
    -%}
  {%- endif -%}
{%- endfor -%}

{%- for acf_code_tag in article.metafields.video.code_tag -%}
  {%- if acf_code_tag != blank and article.metafields.video.enable[forloop.index0] == 'true' -%}
    {%- liquid assign acf_code_tag_para = '<p>' | append: acf_code_tag | append: '</p>' -%}

    {%- capture acf_snippet -%}
      <div class="art-Article_Video">
        <section class="art-Video" style="--Video_Background: #FAE0DF;">
          <div class="art-Video_Inner lyt-Container">
            <div class="art-Video_Body">
              <div class="art-Video_MediaContainer">
                {%- if article.metafields.video.desktop_video[forloop.index0] != blank -%}
                  <video class="art-Video_VideoPlayer art-Video_VideoPlayer-desktop" autoplay loop muted playsinline>
                    <source src="{{ article.metafields.video.desktop_video[forloop.index0] }}" type="video/mp4">
                  </video>
                {%- endif -%}
        
                <div class="art-Video_Image art-Video_Image-desktop">
                  {%- render 'responsive-image-metafield',
                    image: article.metafields.video.desktop_image[forloop.index0].first,
                    width: 2800,
                    height: 1580
                  -%}
                </div>
        
                {%- if article.metafields.video.mobile_image[forloop.index0] != blank -%}
                  <video class="art-Video_VideoPlayer art-Video_VideoPlayer-mobile" autoplay loop muted playsinline>
                    <source src="{{ article.metafields.video.mobile_image[forloop.index0] }}" type="video/mp4">
                  </video>
                {%- endif -%}
        
                <div class="art-Video_Image art-Video_Image-mobile">
                  {%- liquid
                    if article.metafields.video.mobile_image[forloop.index0] != blank
                      assign image_to_use = article.metafields.video.mobile_image[forloop.index0].first
                    else
                      assign image_to_use = article.metafields.video.desktop_image[forloop.index0].first
                    endif
                  -%}
        
                  {%- render 'responsive-image-metafield',
                    image: image_to_use,
                    width: 800,
                    height: 1530
                  -%}
                </div>
              </div>
        
              <div class="art-Video_Content">
                {%- if article.metafields.video.kicker[forloop.index0] != blank -%}
                  <p class="art-Video_Kicker fz-14_20">{{ article.metafields.video.kicker[forloop.index0] }}</p>
                {%- endif -%}
        
                {%- if article.metafields.video.title[forloop.index0] != blank -%}
                  <h2 class="art-Video_Title fz-34_37">{{ article.metafields.video.title[forloop.index0] }}</h2>
                {%- endif -%}
            
                {%- if article.metafields.video.text[forloop.index0] != blank -%}
                  <div class="art-Video_Text fz-14_20 rte-RichText">{{ article.metafields.video.text[forloop.index0] }}</div>
                {%- endif -%}
            
                {%- if article.metafields.video.button_link[forloop.index0] != blank and article.metafields.video.button_text[forloop.index0] != blank -%}
                  <div class="art-Video_Buttons">
                    <a href="{{ article.metafields.video.button_link[forloop.index0] }}" class="art-Video_Button btn-Button btn-Button-primary">
                      {{ article.metafields.video.button_text[forloop.index0] }}
                    </a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        </section>
      </div>
    {%- endcapture -%}

    {%- liquid
      assign article_content = article_content | replace: acf_code_tag_para, acf_snippet
      assign article_content = article_content | replace: acf_code_tag, acf_snippet
    -%}
  {%- endif -%}
{%- endfor -%}

{%- for acf_code_tag in article.metafields.double_image.code_tag -%}
  {%- if acf_code_tag != blank and article.metafields.double_image.enable[forloop.index0] == 'true' -%}
    {%- liquid assign acf_code_tag_para = '<p>' | append: acf_code_tag | append: '</p>' -%}

    {%- capture acf_snippet -%}
      <div class="art-Article_DoubleImage">
        <div class="art-DoubleImage">
          <div class="art-DoubleImage_Items">
            <div class="art-DoubleImage_Item">
              {%- render 'responsive-image-metafield',
                image: article.metafields.double_image.item_1_image[forloop.index0].first,
                width: 1600,
                height: 1600
              -%}
            </div>

            <div class="art-DoubleImage_Item">
              {%- render 'responsive-image-metafield',
                image: article.metafields.double_image.item_2_image[forloop.index0].first,
                width: 1600,
                height: 1600
              -%}
            </div>
          </div>
        </div>
      </div>
    {%- endcapture -%}

    {%- liquid
      assign article_content = article_content | replace: acf_code_tag_para, acf_snippet
      assign article_content = article_content | replace: acf_code_tag, acf_snippet
    -%}
  {%- endif -%}
{%- endfor -%}

<article class="art-Article" itemscope itemtype="http://schema.org/BlogPosting">
  {%- if article.metafields.images.desktop.first or article.image != blank -%}
    <div class="art-Article_ImageContainer">
      <div class="art-Article_Image art-Article_Image-desktop">
        {%- if article.metafields.images.desktop.first != blank -%}
          {%- render 'responsive-image-metafield',
            image: article.metafields.images.desktop.first,
            width: 2880,
            height: 1300
          -%}
        {%- elsif article.image != blank -%}
          {%- render 'responsive-image',
            image: article.image,
            width: 2880,
            height: 1300
          -%}
        {%- endif -%}
      </div>

      <div class="art-Article_Image art-Article_Image-mobile">
        {%- if article.metafields.images.mobile.first != blank -%}
          {%- render 'responsive-image-metafield',
            image: article.metafields.images.mobile.first,
            width: 750,
            height: 1170
          -%}
        {%- elsif article.image != blank -%}
          {%- render 'responsive-image',
            image: article.image,
            width: 750,
            height: 1170
          -%}
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="art-Article_Inner lyt-Container">
    <div class="art-Article_Main">
      <header class="art-Article_Header">
        <div class="art-Header">
          <h1 class="art-Header_Title fz-58_64" itemprop="headline">{{ article.title }}</h1>

          <p class="util-ScreenReaderOnly" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'month_year' }}</p>

          <p class="art-Header_Author fz-14_20" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ 'blogs.article.written_by' | t: author: article.author }}</span>
          </p>
        </div>
      </header>

      <div class="art-Article_Body" itemprop="articleBody">
        <div class="art-Article_Content rte-RichText fz-14_20">
          {{ article_content }}
        </div>

        <div class="art-Article_Sharing">
          {%- render 'social-sharing' -%}
        </div>
      </div>
    </div>
  </div>
</article>

{% schema %}
  {
    "name": "Article"
  }
{% endschema %}
