{%- render 'critical-product-styles' -%}

<section class="prd-Product" data-external-el="product-navigation.section" data-product-navigation-title="Overview">
  <div class="prd-Product_Inner">
    <div class="prd-Product_Body">

      <div class="prd-Product_Breadcrumb lyt-Container">
        {%- render 'breadcrumb',
          use_metafield: product.metafields.breadcrumbs.enable,
          metafield: product.metafields.breadcrumb_item.text,
          metafield_link: product.metafields.breadcrumb_item.link
        -%}
      </div>

      <div class="prd-Product_Columns">
        <div class="prd-Product_Column prd-Product_Column-media" data-product-fixed-bar-external-el="mediaColumn">
          {%- render 'product-media' -%}
        </div>

        <div class="prd-Product_Column prd-Product_Column-detail" data-product-fixed-bar-external-el="detailColumn">
          <div class="prd-Product_Detail lyt-Container">
            {%- render 'product-details',
              price_message: section.settings.price_message,
              section: section
            -%}

            {%- if shop.metafields.product_messaging.enable == 'true' -%}
              {%- render 'product-detail-messaging' -%}
            {%- endif -%}

            {%- render 'product-detail-accordion' -%}

            {%- if product.metafields.buy_it_with.collection != blank -%}
              {%- render 'bundle-upsell',
                product: product,
                collection_name: product.metafields.buy_it_with.collection
              -%}
            {%- endif -%}
          </div>
        </div>
      </div>

      {%- render 'upsell-modal' -%}
    </div>
  </div>
</section>

{%- render 'product-fixed-bar', product: product, section: section -%}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ]
  {% endif %}
  ,"description": "{{ product.description | strip_html | strip_newlines }}"
  {% if product.selected_or_first_available_variant.sku != blank %}
    ,"sku": "{{ product.selected_or_first_available_variant.sku }}"
  {% endif %}
  {% if product.variants.size == 0 %}
  ,"offers": {
    "@type": "Offer",
    "url": "{{ shop.url }}{{ product.url }}",
    "priceCurrency" : "{{ cart.currency.iso_code }}",
    "price" : "{{ product.price | divided_by: 100.00 }}",
    "itemCondition": "NewCondition",
    "availability" : "{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
  }{% if product.metafields.okendo.summaryData.reviewCount > 0 or product.metafields.okendo.ReviewCount > 0 %},{% endif %}
  {% else %}
  ,"offers": [
    {% for variant in product.variants %}
      {% unless forloop.first %},{% endunless %}{
        "@type": "Offer",
        "url": "{{ shop.url }}{{ variant.url }}",
        "sku": "{{ variant.sku }}",
        "priceCurrency" : "{{ cart.currency.iso_code }}",
        "price" : "{{ variant.price | divided_by: 100.00 }}",
        "itemCondition": "NewCondition",
        "availability" : "{% if variant.available %}InStock{% else %}OutOfStock{% endif %}"
      }
    {% endfor %}
  ]{% if product.metafields.okendo.summaryData.reviewCount > 0 or product.metafields.okendo.ReviewCount > 0 %},{% endif %}
  {% endif %}
  {% if product.metafields.okendo.summaryData.reviewCount > 0 %}
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "{{ product.metafields.okendo.summaryData.reviewAverageValue }}",
      "ratingCount": "{{ product.metafields.okendo.summaryData.reviewCount }}"
    }
  {% elsif product.metafields.okendo.ReviewCount > 0 %}
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "{{ product.metafields.okendo.ReviewAverageValue }}",
      "ratingCount": "{{ product.metafields.okendo.ReviewCount }}"
    }
  {% endif %}
}
</script>

{% schema %}
  {
    "name": "t:sections.main-product.name",
    "tag": "section",
    "blocks": [
      {
        "type": "accordion",
        "name": "Accordion",
        "settings": [
          {
            "type": "header",
            "content": "Generic accordion",
            "info": "This will sit underneath the product specific accordion items"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      },
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}
