{{ 'blog.css' | asset_url | stylesheet_tag }}
{{ 'article-list.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign pagination_amount = 50
  assign total_count = blog.articles_count
-%}

<script
  src="{{ 'load-more-list.js' | asset_url }}"
  defer="defer"
></script>

{%- render 'blog-navigation' -%}

{%- paginate blog.articles by pagination_amount -%}
  {%- liquid
    assign current_count = pagination_amount | times: paginate.current_page
  -%}

  <load-more-list
    class="blg-Blog"
    item-class-name=".art-List_Item"
    data-items-per-page="{{ pagination_amount }}"
    data-current-page="{{ paginate.current_page }}"
    data-total-items="{{ total_count }}"
    data-url="{{ request.path }}"
    data-section-id="main-blog"
    data-infinite-scroll="false"
    aria-busy="false"
  >
    <div class="blg-Blog_Inner lyt-Container">
      <div class="blg-Blog_Body">
        <div class="art-List_Items" data-load-more-list-el="target">
          {%- for article in blog.articles -%}
            <div class="art-List_Item" data-load-more-list-el="item">
              {%- render 'article-card', article: article -%}
            </div>
          {%- endfor -%}
        </div>

        {%- if paginate.pages > 1 -%}
          <footer class="art-List_Pagination">
            {%- liquid
              assign text = 'blogs.list.showing' | t: count: current_count, total: paginate.items
              assign text_translation = 'blogs.list.showing' | t: count: "[count]", total: paginate.items
              assign button_text = 'blogs.list.load_more' | t
            -%}

            {%- render 'pagination-load-more',
              text: text,
              text_translation: text_translation,
              button_text: button_text
            -%}
          </footer>
        {%- endif -%}
      </div>
    </div>
  </load-more-list>
{%- endpaginate -%}

{% schema %}
  {
    "name": "Blog",
    "settings": []
  }
{% endschema %}