{{ 'collection-items.css' | asset_url | stylesheet_tag }}
{{ 'article-card.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign pagination_amount = 48
  assign total_count = search.results_count
-%}

<script
  src="{{ 'load-more-list.js' | asset_url }}"
  defer="defer"
></script>

{%- paginate search.results by pagination_amount -%}
  {%- if search.performed -%}
    {%- if search.results_count >= 1 -%}
      {%- liquid
        assign show_page_results = false

        for item in search.results
          if item.object_type == 'article' or item.object_type == 'page'
            assign show_page_results = true
          endif
        endfor

        assign current_count = pagination_amount | times: paginate.current_page
      -%}

      <load-more-list
        class="clc-List"
        item-class-name=".clc-Items_Item"
        data-items-per-page="{{ pagination_amount }}"
        data-current-page="{{ paginate.current_page }}"
        data-total-items="{{ total_count }}"
        data-url="{{ request.path }}"
        data-section-id="main-search"
        data-infinite-scroll="false"
        aria-busy="false"
      >
        <div class="clc-Collection_Inner lyt-Container">
          <div class="clc-Items clc-Items-search">
            <div class="clc-Items_Items" data-load-more-list-el="target">
              {%- for item in search.results -%}
                {%- if item.object_type == 'product' -%}
                  <div class="clc-Items_Item" data-load-more-list-el="item">
                    {%- render 'product-card', product: item, load_styles_async: false -%}
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>

            {%- if paginate.pages > 1 -%}
              <footer class="art-List_Pagination">
                {%- liquid
                  assign text = 'templates.search.showing' | t: count: current_count, total: paginate.items
                  assign text_translation = 'templates.search.showing' | t: count: "[count]", total: paginate.items
                  assign button_text = 'templates.search.load_more' | t
                -%}

                {%- render 'pagination-load-more',
                  text: text,
                  text_translation: text_translation,
                  button_text: button_text
                -%}
              </footer>
            {%- endif -%}
          </div>
        </div>
      </load-more-list>

      {%- if show_page_results -%}
        <div class="clc-List">
          <div class="clc-Collection_Inner lyt-Container">
            <div class="clc-Items">
              <h2 class="clc-Items_Title fz-14_20-headings">{{ 'templates.search.other_results' | t }}</h2>

              <div class="clc-Items_Items">
                {%- for item in search.results -%}
                  {%- if item.object_type != 'product' -%}
                    {%- if item.object_type == 'article' -%}
                      <div class="clc-Items_Item">
                        {%- render 'article-card' article: item load_styles_async: false -%}
                      </div>
                    {%- else -%}
                      <div class="clc-Items_Item">
                        <a href="{{ item.url }}" class="art-Card">
                          <div class="art-Card_Content">
                            <h3 class="art-Card_Title fz-24_29">
                              {{ item.title | escape }}
                            </h3>

                            <p class="art-Card_Category fz-12_22">
                              {{- item.content | strip_html | truncatewords: 20 -}}
                            </p>
                          </div>
                        </a>
                      </div>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-search.name",
  "settings": [
  ]
}
{% endschema %}
