<div>
  <div class="password-header">
    {%- if section.settings.logo -%}
      <img
        src="{{ section.settings.logo | img_url: '500x500' }}"
        class="password-logo"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
        style="max-width: {{ section.settings.logo_max_width }}px;"
        width="{{ section.settings.logo_max_width }}"
        height="{{ section.settings.logo_max_width | divided_by: section.settings.logo.aspect_ratio }}"
        loading="lazy"
      >
    {%- else -%}
      <h1 class="fz-26_34">{{ shop.name }}</h1>
    {%- endif -%}

    {%- if shop.password_message != blank -%}
      <div class="password-content fz-14_24">
        {{ shop.password_message }}
      </div>
    {%- endif -%}

    <password-modal>
      <details class="password-modal modal">
        <summary class="modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.password_page.modal' | t }}">
          <button type="button" class="modal__toggle-open">
            {%- render 'bao-icon-padlock' -%}

            <span class="util-ScreenReaderOnly">
              {{ 'general.password_page.login_password_button' | t }}
            </span>
          </button>
        </summary>
        <div
          class="modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="password-modal__content" tabindex="-1">
            <button type="button" class="modal__close-button link" aria-label="{{ 'accessibility.close' | t }}" onClick="document.querySelector('.password-modal').removeAttribute('open')">
              {% render 'bao-icon-close' %}
            </button>
            <h2 class="password-modal__content-heading fz-24_29" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %} frm-Form_Row">
                <label class="frm-Form_Label util-ScreenReaderOnly" for="{{ 'general.password_page.login_form_password_label' | t }}">{{ 'general.password_page.login_form_password_placeholder' | t }}</label>
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="frm-Form_Input"
                  autocomplete="current-password"
                  style="height: 48px;"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="form__message fz-14_20">{{ 'general.password_page.login_form_error' | t }}</span>
                  </div>
                {%- endif -%}
              </div>
              <div class="frm-Form_Row">
                <button name="commit" class="btn-Button btn-Button-primary btn-Button-fullWidth">
                  {{ 'general.password_page.login_form_submit' | t }}
                </button>
              </div>              
            {%- endform -%}
            <div class="rte-RichText">
              <small class="password__footer-text fz-14_24">{{ 'general.password_page.admin_link_html' | t }}</small>
            </div>            
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>
{%- if section.settings.color_scheme == 'background-1' -%}<hr>{%- endif -%}

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main-password-header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.main-password-header.settings.logo_max_width.unit",
      "label": "t:sections.main-password-header.settings.logo_max_width.label"
    }
  ]
}
{% endschema %}