{%- liquid
  assign show_order_protection = false
  assign gift_card_product = all_products[settings.push_cart_gift_card_product]

  if cart.item_count > 0
    assign has_non_gift_card = false
    for item in cart.items
      unless item.product == gift_card_product
        assign has_non_gift_card = true
      endunless
    endfor

    if has_non_gift_card
      assign show_order_protection = true
    endif
  endif

  if cart.item_count == 1
    if cart.items[0].product.title contains 'Order Protection'
      assign show_order_protection = false
    endif
  endif
-%}

<div
  class="drw-Footer fz-14_20"
  id="{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="push-cart-footer"
>
  {%- if settings.push_cart_gift_wrapping_enable -%}
    {% render 'push-cart-gift-wrapping' %}
  {%- endif -%}
  <div class="drw-Footer_Row drw-Footer_Row-first">
    <p class="drw-Footer_Key">{{ 'drawers.drawer.cart.subtotal' | t }}</p>
    <p class="drw-Footer_Value drw-Footer_Value-strong">{{ cart.total_price | minus: order_protection_price | money }}</p>
  </div>

  <div class="drw-Footer_Row">
    <p class="drw-Footer_Key">{{ 'drawers.drawer.cart.shipping' | t }}</p>
    <p class="drw-Footer_Value">{{ 'drawers.drawer.cart.calculated_at_checkout' | t }}</p>
  </div>

  {%- unless shop.permanent_domain == 'oh-polly-uk.myshopify.com' -%}
    {%- if settings.enable_order_protection and cart.items.size > 0 and show_order_protection -%}
    {% if localization.country.iso_code != 'GB' %}
      <div class="order-protection"></div>
    {% endif %}
    {%- endif -%}
  {%- endunless -%}

  <form class="drw-Footer_Buttons" action="/checkout" method="POST">
    <button
      class="drw-Footer_Submit btn-Button btn-Button-primary btn-Button-fullWidth"
      type="submit"
      name="checkout"
    >
      <span class="btn-Button_SubmitText">
        {{ 'drawers.drawer.cart.button_text' | t }}
      </span>
    </button>
  </form>
</div>
