<div
  class="psh-CartItems"
  id="{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="push-cart-items"
  data-cart-total="{{ cart.item_count }}"
>
  {%- assign product_id_array = "" -%}
  {%- assign gift_wrapping_product = all_products[settings.push_cart_gift_wrapping_product] -%}
  {%- assign gift_card_product = all_products[settings.push_cart_gift_card_product] -%}

  {%- capture line_item_html -%}
  {%- for line_item in cart.items -%}
    {%- assign product_id_array = product_id_array | append: line_item.product.id | append: "," -%}
    {%- assign is_gift_wrapping = false -%}
    {%- assign is_gift_card = false -%}

    {%- if gift_wrapping_product.selected_or_first_available_variant.id == line_item.variant_id -%}
      {%- assign is_gift_wrapping = true -%}
    {%- endif -%}

    {%- if gift_card_product.id == line_item.product.id -%}
      {%- assign is_gift_card = true -%}
    {%- endif -%}

    {%- unless line_item.product.title contains 'Order Protection' -%}
      <div class="psh-CartItems_Item psh-CartItems_Item-[index{{ line_item.product.id }}]" style="order:[order{{- line_item.product.id -}}];">
        {%- render 'push-cart-item',
          line_item: line_item,
          show_complete_the_set: forloop.first,
          is_gift_wrapping: is_gift_wrapping,
          is_gift_card:  is_gift_card
        -%}
      </div>
    {%- endunless -%}
  {%- else -%}
    <div class="psh-CartItems_Item psh-CartItems_Item-empty">
      <p class="psh-CartItems_Text">{{ 'drawers.drawer.cart.empty' | t }}</p>
    </div>
  {%- endfor -%}
  {%- endcapture -%}

  {%- liquid
    assign product_id_array = product_id_array | split: "," | sort
    for product_id in product_id_array
      assign product_order_replacer = "[order" | append: product_id | append: "]"
      assign product_index_replacer = "[index" | append: product_id | append: "]"
      assign line_item_html = line_item_html | replace: product_order_replacer, forloop.index0

      if forloop.first
        assign line_item_html = line_item_html | replace: product_index_replacer, "first"
      elsif forloop.last
        assign line_item_html = line_item_html | replace: product_index_replacer, "last"
      else
        assign line_item_html = line_item_html | replace: product_index_replacer, forloop.index0
      endif

    endfor
  -%}

  {{- line_item_html -}}

</div>

{% schema %}
{
	"name": "Push Cart - Items"
}
{% endschema %}
